@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;0,700;0,900;1,200;1,300;1,400;1,600&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-size: 12px;
}
code {
  font-family: source-code-pro, "Montserrat" !important;
}
#custom-nav-link:hover {
  text-decoration: underline 2px solid #215732;
  text-underline-position: under;
  text-decoration-thickness: 4px;
  text-underline-offset: 10px;
}
.card {
  color: #4e4e4e;
  background-color: #ffffff;
  transition: ease-in 0.3s;
}
.card:hover {
  background-color: #4e4e4e;
  color: #f1f1f1;
  transition: ease-in 0.3s;
  cursor: pointer;
}
.card-body {
  color: inherit;
}
.card-body:hover {
  color: inherit;
}
@includes media-breakpoint-down(md) {
  #footer-contact-div {
    text-align: center;
  }
}
.form-label {
  color: #215732 !important;
}
.form-notch-middle {
  border: 10px solid #215732;
}
/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
form label,
form legend {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
}
/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
  font-family: Montserrat;
}
form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: #215732;
  border: 0.3px solid #215732;
  outline-offset: -1px;
  transition: ease-in-out 0.5s;
}
form [type="text"],
form [type="email"],
.StripeElement {
  width: 100%;
}
form [type="button"],
form [type="submit"],
form [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
}
form select {
  text-transform: none;
}
.accordion-button:not(.collapsed) {
  color: #215732 !important;
}
.accordion-button::after {
  color: #215732 !important;
}
.stepper-active .stepper-head-icon {
  background-color: #4e4e4e !important;
}
.stepper-completed .stepper-head-icon {
  background-color: #215732 !important;
}
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}
#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span {
  background-color: white !important;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: #215732 !important;
}
#lpBannerText {
  color: black;
  font-weight: bold;
}
.carousel-caption h3 {
  font-weight: 600;
}
#m__btn {
  font-weight: 600;
  background-color: #215732;
  padding: 20px;
  font-size: 16px;
  transition: ease-in 0.2s;
}
#m__btn:hover {
  font-weight: 600;
  background-color: #4e4e4e;
  padding: 20px;
  font-size: 16px;
  transition: ease-in 0.2s;
}
#s__btn {
  color: black;
  font-weight: 600;
  background-color: #f7f7f7;
  padding: 20px;
  font-size: 16px;
  transition: ease-in 0.2s;
}
#s__btn:hover {
  color: white;
  font-weight: 600;
  background-color: #215732;
  padding: 20px;
  font-size: 16px;
  transition: ease-in 0.2s;
}
#navbarCenteredExample a {
  font-size: 17px !important;
  font-weight: 600 !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234f4f4f'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
#client__test__video .carousel-control-next-icon {
  margin-left: -140%;
}
#client__test__video .carousel-control-prev-icon {
  background-image: none;
  margin-right: -140%;
}
.modal.fade .modal-dialog {
  padding-top: 45%;
}
#lpAnchor a:hover {
  color: #215732 !important;
  text-shadow: 1px 0px 0.5px #215732 !important;
}
#lpAnchor a {
  color: #4e4e4e !important;
}
.card-body {
  cursor: default;
}
#footer__contact__section {
  color: #4e4e4e !important;
}
#footer__contact__section:hover {
  color: #215732 !important;
  text-shadow: 1px 0px 3px #4e4e4e !important;
}
#move__checklist__modal,
.modal.fade .modal-dialog {
  padding-top: 0%;
}
#footer-contact-div a {
  color: #4e4e4e !important;
}
#footer-contact-div a:hover {
  color: #215732 !important;
  text-shadow: 1px 0px 3px #4e4e4e !important;
}
#footer__contact__section a:hover {
  color: #215732 !important;
  text-shadow: 1px 0px 3px #4e4e4e !important;
}
#footer__contact__section a {
  color: #4e4e4e !important;
}
#careersCard {
  background-color: #ffffff;
  color: #000000;
  transition: ease-in 0.5s;
  cursor: pointer;
}
#careersCard:hover {
  background-color: #0c2213;
  color: #f1f1f1;
  transition: ease-in 0.5s;
  cursor: pointer;
}
